
.token.attr-name {
  color: rgb(173, 219, 103);
  font-style: italic;
}

.token.comment {
  color: #4490be;
}

.token.string, .token.url {
  color: #0ab88d;
}

.token.variable {
  color: rgb(214, 222, 235);
}

.token.number {
  color: rgb(247, 140, 108);
}

.token.builtin, .token.char, .token.constant, .token.function {
  color: #82aaff;
}

.token.punctuation {
  color: #c792ea;
}

.token.selector, .token.doctype {
  color: #c792ea;
  font-style: 'italic';
}

.token.class-name, .token.property {
  color: #FFC83F;
}

.token.operator {
  color: #89ddff;
}

.token.tag, .token.keyword {
  color: #FF5370;
}

.token.boolean {
  color: rgb(255, 88, 116);
}

.token.namespace {
  color: rgb(178, 204, 214);
}

pre[data-line] {
  position: relative;
  padding: 1em 0 1em 3em;
}
