
/* colors */
$codeBgColor = #012232;
$borderColor = #a2a8d34d;
$highlightBgColor = #000000b3;
/* vssue */
$vssue-theme-color = #3c96ff;
/* layout */
$baseSpace = 8px;
$baseRadius = 6px;
$appBarHeight = 56px;
$sideBarWidth = 280px;
/* responsive breakpoints */
$MQWide = 1440px;
$MQNarrow = 1024px;
$MQMobile = 768px;
$MQMobileNarrow = 480px;
/* code */
$lineNumbersWrapperWidth = 2rem;
$codeLang = js ts html md vue css sass scss less stylus go java c sh yaml py;
