<!DOCTYPE html>
<html lang="{{ lang }}">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"
    />
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}" />
    <link href="https://fonts.cat.net/css?family=Catamaran" rel="stylesheet" />
    {{{ userHeadTags



    }}}
    {{{ pageMeta



    }}}
    {{{ renderResourceHints()



    }}}
    {{{ renderStyles()



    }}}
  </head>
  <body>
    <!--vue-ssr-outlet-->
    {{{ renderScripts() }}}

    <script src="//at.alicdn.com/t/font_1068734_hg2ipvrao6q.js"></script>
  </body>
</html>
